*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    height: 100vh;
    display: grid;
}

.dashboard {
    background-color: #1992d4;
    display: grid;
    grid-template-columns: 100px 1fr; 
    grid-template-rows: repeat(12, 65px);
    gap: 10px; 
    padding: 20px;
    align-items: center;
    max-height: 100vh;
}
.branding{
    display: grid;
    grid-row: 1/2;
}

.branding a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon{
    fill: white;
    width: 45px;
    padding: 10px;
}

.dash {     
    color: white;
    font-size: 1.75em;
}

.navigation{
    grid-row: 4/4;
}

.navigation a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
}

.nav-icon{
    fill: white;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 20px;
}
.nav-icon svg{
    width: 100%;
    height: 100%;
}

.nav-text{
    color: white;
    font-size: 1.25em;
}

.settings{

    grid-row: 8/8;
}

.settings a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
}

.set-icon{
    fill: white;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 20px;
}
.set-icon svg{
    width: 100%;
    height: 100%;
}

.set-text{
    color: white;
    font-size: 1.25em;
}

.content{
    display: grid;
    grid-column: 2/11;
}

.header{
    background-color: white;
    grid-row: 1/2;
    display: grid;
}

.navigation-bar{
    grid-row: 1/2;
    padding: 5px;
    display: grid;
}

.search{
    grid-column: 1/7;
    display: flex;
    align-items: center;
    justify-content: left;
}

.search-icon{
    height: 34px;
    width: 34px;
    padding-right: 10px;
    padding-left: 45px;
}

.search-icon svg{
    width: 100%;
    height: 100%;
}

.search-input{
    width: 75%;
    height: 3em;
    border: none;
    border-radius: 50px;
    background-color: #eee;
}

.profile{
    grid-column: 8/10;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: right;
    padding-right: 70px;
    gap: 20px;
}

.dp{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp img{
    width: 100%;
    height: 100%;
}

.profile-name{
    font-weight: bold;
    font-size: 1.25rem;
}

.notif-icon{
    height: 28px;
    width: 28px;
}   

.banner{
    grid-row: 3/10;
    display: grid;
}

.banner-profile{
    grid-column: 1/6;
    display: flex;
    padding-left: 40px;
    justify-content: left;
    align-items: center;
}

.banner-dp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    padding-left:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner-profile-name{
    font-weight: bold;
    font-size: 1.5rem;
}

.banner-posts{
    grid-column: 6/10;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-right: 50px;
}

.banner-posts button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: #1992d4;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    background-color: #E2E8F0;
    grid-row: 2/10;
}
